<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @student.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @student.last_name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @student.birth_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @student.status %>
</p>

<p>
  <strong>User:</strong>
  <%= @student.user.email %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @student.classroom.nom %>
</p>


<%= link_to 'Back', students_path,class: "btn btn-warning" %>
